@import "bootstrap";
$bg-nav:rgba(0,123,255,0.7);
$btn-color: transparent;
$btn-color-hover:rgba(0,123,255,0.2);
$btn-color-active: rgba(0,123,255,0.9);
$jumbo-color:rgba(0,123,255,0.08);
@media(max-width:576px){
    .quick-search{
        display:none;
        
    }
}
.navbar .form-inline{
    margin-block-end:0px !important;
    }

#quick-login{
    right:10px;
    left:inherit;
    
}
.bg-main{
    background-color:$bg-nav;
    }
.btn-secondary {
    background-color: $btn-color;
    border-color: $btn-color;

    &:hover {
        background-color: $btn-color-hover;
        border-color: $btn-color-hover;
    }

    &:focus {
        border-color: $btn-color-active;
        box-shadow: none !important;
    }

    &:active {
        background-color: $btn-color-active;
        border-color: $btn-color-active;
    }

    &:not(:disabled):not(.disabled):active {
        background-color: $btn-color-active !important;
        border-color: $btn-color-active;
    }
}
.show > .btn-secondary.dropdown-toggle{
    background-color:$btn-color-active;
    border-color:$btn-color-active;
    
}
.jumbotron-flex{
    min-height:200px;
}
.container{
    margin-top:10px;
    .jumbotron{
        background-color:$jumbo-color;
        display:grid;
        }
}
#logout-button{
    display:none;
}
body{
    top:0;
}