
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type=text/css href="{{url_for('static',filename='css/my_css.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="navbar navbar-expand-md bg-main navbar-dark justify-content-between nav-main">
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="True" aria-expanded="false">Menu</button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{{url_for('register')}}">Register</a>
                <a class="dropdown-item" href="{{url_for('login')}}">Login</a>
                <a class="dropdown-item" href="{{url_for('search')}}">Advanced Search</a>
                <a class="dropdown-item" href="{{url_for('logout')}}">Logout</a>
            </div>
        </div>
    </div>
     <div id="searcher">
        <form class="form-inline quick-search" method="post" action="{{url_for('search')}}">
            <input class="form-control mr-sm-2" type="text" placeholder="Quick search">
            <button class="btn btn-secondary" type="submit">Search</button>
        </form>
        {% if not session.logged_in %}
        <div>
            <button class="btn btn-secondary" type="button" data-toggle="dropdown" aria-haspopup="True" aria-expanded="false">Sign in</button>
            <form class="dropdown-menu p-4" id="quick-login" method="post" action="{{url_for('log_user')}}">
                <div class="form-group">
                    <label for="email-add">Email address</label>
                    <input type="email" class="form-control" id="email-add" placeholder="email@example.com">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
                
                <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
        </div>
        {% else %}
        <div id="logout-button">
        <a class="btn btn-secondary" href="{{url_for('logout')}}">Log me out</a>
        
        </div>
        {% endif %}
    </div>
   
    <div class="container">
        <div class="jumbotron col-lg-10 col-md-11 col-sm-11" style="margin-left:auto;margin-right:auto;">

            
            {% block content %}{% endblock %}
        </div>
    </div>
    
</body>
</html>
