
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type=text/css href="{{url_for('static',filename='css/my_css.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="navbar navbar-expand-sm bg-main navbar-dark justify-content-between">
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="True" aria-expanded="false">Menu</button>
            <div class="dropdown-menu">
                {% if not session.logged_in %}
                <a class="dropdown-item" href="{{url_for('register')}}">Register</a>
                <a class="dropdown-item" href="{{url_for('login')}}">Login</a>
                {% endif %}
                <a class="dropdown-item" href="{{url_for('search')}}">Advanced Search</a>
                <a class="dropdown-item" href="{{url_for('logout')}}">Logout</a>
            </div>
        </div>
        <form class="form-inline quick-search" action={{url_for('quick_search')}} method="post">
            <input class="form-control mr-sm-2" type="text" placeholder="Quick search" name="quick">
            <button class="btn btn-secondary" type="submit">Search</button>
        </form>
        {% if not session.logged_in %}
        <div>
            <button class="btn btn-secondary" type="button" data-toggle="dropdown" aria-haspopup="True" aria-expanded="false">Sign in</button>
            <form class="dropdown-menu p-4" id="quick-login" method="post" action="{{url_for('log_user')}}">
                <div class="form-group">
                    <label for="login">Login</label>
                    <input type="text" class="form-control" id="login" name="login" placeholder="login">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>

                <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
        </div>
        {% else %}
        <div id="logout-button">
            <a class="btn btn-secondary" href="{{url_for('logout')}}">Log me out</a>

        </div>
        {% endif %}
    </div>
   
    <div class="container">
        

            
            {% block content %}{% endblock %}
        
    </div>
    
</body>
</html>
